.input {
    background-color: #5b4f65 !important;
    color: white !important;
    padding: 0 3em !important;
    text-align: center !important;
    &::placeholder {
      color: rgb(230, 229, 229) !important;
    }
  }

.input:focus{
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
}

.dropdown {
  background-color: #44354f !important;
  border-color: #73687b !important;
  margin-top: 0 !important;
}

.option:hover{
  background-color: #4b3b5b !important;
}

.option:active{
  background-color: #6d336d !important;
}
