.dashboard-container {
    background-image: url('/images/purple2.png'); /* TODO: make the global background a shade of purple so it matches*/
    background-size: 100% 260%; 
    background-position:  top left; /* Position the background at the top */
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 20px;
    overflow-y: auto; 
}

.grid-container {
    width: 70%; 
    margin: 0 auto; 
  }

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    height: 80%;
    width: 70%;
  }
  
  .card-grid > * {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px); 
    box-sizing: border-box;
    height: 80%;
  }