.game-container {
    background-image: url('/images/purple2.png'); /* Adjust the path if needed */
    background-size: 100% 270%; /* Scale the background to twice its height */
    background-position: top; /* Position the background at the top */
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 20px;
    overflow-y: auto; 

}

/*TODO: modularize the styling of the container because it is used in multiple pages */

.game-card {
    width: 70%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
}

.card-content {
    display: flex;
    width: 100%;
}

.right-column{
    min-height: 330px;
    justify-content: center; /* Align items to the start (top) */
    align-items: center; /* Align items to the start (left) */
    display: flex;
    flex-direction: column;
}

.left-column, .right-column {
    flex: 1;
    min-width: 300px;
}

.left-column .stat {
    display: flex;
    align-items: center;
    gap: 10px; 
 }
  
.left-column {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align items to the start (top) */
    align-items: center; /* Align items to the start (left) */
    position: relative; /* Ensure the gradient overlay is positioned correctly */
    background: linear-gradient(rgba(72, 0, 72, 0.8), rgba(192, 72, 72, 0.7));
}

.stats-info-container{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat {
    justify-content: center;
}

.left-column h5 {
    /* text-align: left;  */
    margin: 0px !important;
}

.left-column h2 {
    /* text-align: left;  */
    margin: 0px !important;
}

.mode-header {
    display: flex;
    align-items: center;
    gap: 20px; /* Add space between the icon and the text */
    margin-bottom: 20px; /* Add space below the mode header */
    justify-content: space-between;
    width: 68%;
}

.skip-button:hover {
    background-color: #5b4f65 !important; /* Change background color on hover */
    border-color: #73687b; /* Change border color on hover */
}

.validation-message {
    color: white;
    text-align: center;
    min-height: 30px; /* Adjust the height as needed */
}

.mantine-Modal-title{
    color: #f1e8f7 !important;
    font-weight: bold !important;
}

.mantine-Radio-label{
    color: #f1e8f7 !important;
}

.mantine-Modal-header{
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-top: 30px !important;
    background-color: #21152b !important;
}
.mantine-Modal-body {
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-bottom: 40px !important;
    background-color: #21152b !important;
}

.mantine-Radio-root {
    margin-bottom: 10px; /* Adjust the value as per your need */
}

.mantine-Modal-close{
    color: #f1e8f7 !important;
}

.mantine-Modal-close:hover{
    color: #292929 !important;
    background-color: #8c8195 !important;
}

.close-button:hover{
    background-color: #8c8195 !important;
}
/* .mantine-Radio-radio{
    background-color: #f1f1f1 !important;
} */

/* Ensure that both columns (left and right) are vertically aligned */
@media (max-width: 768px) {
    .game-card {
      width: 90%; /* Expand the game card on smaller screens */
    }
  
    .game-container {
      padding: 10px; /* Reduce padding on smaller screens */
    }
  
    /* Make columns stack vertically on small screens */
    .card-content {
      flex-direction: column;
    }
  
    .left-column,
    .right-column {
      min-width: 100%; /* Allow the columns to take full width on smaller screens */
    }
  }