.login-container {
    background-image: url('/images/purple2.png'); /* Adjust the path if needed */
    /* background-size: cover; */
    background-size: 100% 115%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 20px;
    /* transition: background-size 0.8s ease-in-out;  */
  }
/* 
  .login-container:hover {
    background-size: 120% 130%; 
  } */
  
  .login-content {
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
  }

  .button-group {
    display: flex;
    flex-direction: row; /* Arrange buttons in a row */
    gap: 10px; /* Add space between the buttons */
    margin-top: 20px;
    justify-content: center;
  }

  .login-button:hover {
    background-color: #5b4f65 !important;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }

  .play-button {
    margin-top: 10px;
    /* background-color: rgba(124, 105, 139, 0.5)!important; */
    border-color: #8a8191;
    color: white;
  }
  
  .play-button:hover {
    background-color:  #5b4f65 !important;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
  }


  /* these contorl transition drop down the welcome portion */
  .login-content {
    opacity: 0;
    transform: translateY(20px); 
    animation: fadeInUp 0.6s ease-out forwards;
  }
  
  /* Optional staggered effect for specific elements inside */
  /* .login-content.staggered {
    animation: fadeInUp 0.8s ease-out forwards;
    animation-delay: 0.2s;
  } */
  
  /* @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  } */

  /* For smaller screens, zoom in the background */
@media (max-width: 1024px) {
  .login-container {
    background-size: 120% 130%; /* Zoom in the background on smaller screens */
  }
}

@media (max-width: 768px) {
  .login-container {
    background-size: 290% 150%; /* Further zoom on even smaller screens */
  }
}

@media (max-width: 480px) {
  .login-container {
    background-size: 200% 210%; /* Maximum zoom effect on very small screens */
  }
}